# ---- Python ----
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
pip-wheel-metadata/

# Packaging / build
build/
dist/
*.egg-info/
.eggs/
wheels/
pip-wheel-metadata/

# ---- Testing / tooling caches ----
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# ---- Logs / runtime files ----
*.log
logs/
*.pid

# ---- IDEs ----
.vscode/
.idea/


storage/